/**
 * Colors
 */
$_black-color: #000;
$_white-color: #fff;
$_blue-color: #293a4c;
$_gray-color: #666;
$_red-color: #ee271e;

/**
 * Typography
 */
$_font-family-base: "Open Sans", sans-serif;
$_font-size-base: 16px !default;
$_font-weight-light: 300 !default;
$_font-weight-base: 400 !default;
$_font-weight-bold: 700 !default;
